<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.hr.mapper.ICountryMapper">
	
	<!-- 리스트 -->
	<select id="selectCountryList" resultType="map"> <!-- list, string, int, map 약식표현 -->
		SELECT
			c.country_id countryId,
			c.country_name countryName,
			r.region_id regionId,
			r.region_name regionName
		FROM countries c INNER JOIN regions r
		ON c.region_id = r.region_id
	</select>
	<!-- 추가 -->
	<insert id="insertCountry" parameterType="com.gd.hr.vo.Country">
		INSERT INTO countries (
			country_id,
			country_name,
			region_id
		) VALUES (
			#{countryId},
			#{countryName},
			#{regionId}
		)
	</insert>
	<!-- 삭제 -->
	<delete id="deleteCountry" parameterType="string">
		DELETE FROM countries
		WHERE country_id = #{countryId}
	</delete>
	<!-- 수정 -->
	<update id="updateCountry" parameterType="com.gd.hr.vo.Country">
		UPDATE countries
		SET 
			country_name = #{countryName},
			region_id = #{regionId}
		WHERE country_id = #{countryId}
	</update>
	<!-- 리스트원 -->
		<select id="selectCountryOne" parameterType="string" resultType="map">
		SELECT
			c.country_id countryId,
			c.country_name countryName,
			r.region_id regionId,
			r.region_name regionName
		FROM countries c INNER JOIN regions r
		ON c.region_id = r.region_id
		WHERE c.country_id = #{countryId}
	</select>
	
</mapper>