<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.hr.mapper.IRegionMapper"><!-- 인터페이스를 찾아간다. -->
	<!-- 기본 CRUD --> 
	<select id="selectRegionList" resultType="com.gd.hr.vo.Region">
		SELECT
			region_id regionId,
			region_name regionName
		FROM regions
	</select>
	
	<insert id="insertRegion" parameterType="com.gd.hr.vo.Region">
		INSERT INTO regions (
			region_id,
			region_name
		) VALUES (
			#{regionId},
			#{regionName}
		)
	</insert>
	
	<delete id="deleteRegion" parameterType="int">
		DELETE FROM regions
		WHERE region_id = #{regionId}
	</delete>
	
	<update id="updateRegion" parameterType="com.gd.hr.vo.Region">
		UPDATE regions
		SET region_name = #{regionName}
		WHERE region_id = #{regionId}
	</update>
	<select id="selectRegionOne" parameterType="int" resultType="com.gd.hr.vo.Region">
		SELECT
			region_id regionId,
			region_name regionName
		FROM regions
		WHERE region_id = #{regionId}
	</select>
	<!-- end 기본 CRUD -->
</mapper>